# Breve estudo com o novo módulo para python: tradingcomdados

In [1]:
#O módulo Trading com Dados é uma biblioteca para finanças quantitativas

### Instalando o módulo

In [1]:
!pip install tradingcomdados

Collecting tradingcomdados
  Downloading tradingcomdados-1.3.7-py3-none-any.whl (21 kB)
Collecting pandas==2.0.3 (from tradingcomdados)
  Downloading pandas-2.0.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 3.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting requests==2.31.0 (from tradingcomdados)
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: requests-oauthlib==1.3.1 in ./anaconda3/lib/python3.9/site-packages (from tradingcomdados) (1.3.1)
Collecting requests-unixsocket==0.2.0 (from tradingcomdados)
  Downloading requests_unixsocket-0.2.0-py2.py3-none-any.whl (11 kB)
Collecting numpy==1.25.2 (from tradingcomdados)
  Downloading numpy-1.25.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 3.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting joblib==1.1.1 (from tradingcomdados)
  Downloading joblib-1.1.1-py2.py3-none-any.whl (309 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 309.8/309.8 kB 4.2 MB/s eta 0:00:00m eta 0:00:010:01
Requirement already satisfied: scikit-learn==1.2.2 in ./anaconda3/lib/python3.9/site-packages (from tradingcomdados) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.9/site-packages (from pandas==2.0.3->tradingcomdados) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.9/site-packages (from pandas==2.0.3->tradingcomdados) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in ./anaconda3/lib/python3.9/site-packages (from pandas==2.0.3->tradingcomdados) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.9/site-packages (from requests==2.31.0->tradingcomdados) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.9/site-packages (from requests==2.31.0->tradingcomdados) (2.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./anaconda3/lib/python3.9/site-packages (from requests==2.31.0->tradingcomdados) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.9/site-packages (from requests==2.31.0->tradingcomdados) (2023.5.7)
Requirement already satisfied: oauthlib>=3.0.0 in ./anaconda3/lib/python3.9/site-packages (from requests-oauthlib==1.3.1->tradingcomdados) (3.2.2)
Requirement already satisfied: scipy>=1.3.2 in ./anaconda3/lib/python3.9/site-packages (from scikit-learn==1.2.2->tradingcomdados) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./anaconda3/lib/python3.9/site-packages (from scikit-learn==1.2.2->tradingcomdados) (2.2.0)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.0.3->tradingcomdados) (1.12.0)
Installing collected packages: requests, numpy, joblib, requests-unixsocket, pandas, tradingcomdados
  Attempting uninstall: requests
    Found existing installation: requests 2.21.0
    Uninstalling requests-2.21.0:
      Successfully uninstalled requests-2.21.0
  Attempting uninstall: numpy
    Found existing installation: numpy 1.24.3
    Uninstalling numpy-1.24.3:
      Successfully uninstalled numpy-1.24.3
  Attempting uninstall: joblib
    Found existing installation: joblib 1.2.0
    Uninstalling joblib-1.2.0:
      Successfully uninstalled joblib-1.2.0
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.41 requires requests_mock, which is not installed.
gensim 4.3.0 requires FuzzyTM>=0.4.0, which is not installed.
pytorch-pretrained-bert 0.6.2 requires boto3, which is not installed.
spyder 5.4.3 requires pyqtwebengine<5.16, which is not installed.
tables 3.8.0 requires blosc2~=2.0.0, which is not installed.
anaconda-client 1.11.3 requires six>=1.15.0, but you have six 1.12.0 which is incompatible.
anaconda-client 1.11.3 requires urllib3>=1.26.4, but you have urllib3 1.24.3 which is incompatible.
bokeh 3.1.1 requires tornado>=5.1, but you have tornado 4.5.3 which is incompatible.
conda-repo-cli 1.0.41 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.41 requires nbformat==5.4.0, but you have nbformat 5.7.0 which is incompatible.
conda-repo-cli 1.0.41 requires requests==2.28.1, but you have requests 2.31.0 which is incompatible.
dataprep 0.4.5 requires bokeh<3,>=2, but you have bokeh 3.1.1 which is incompatible.
dataprep 0.4.5 requires ipywidgets<8.0,>=7.5, but you have ipywidgets 8.0.4 which is incompatible.
dataprep 0.4.5 requires pandas<2.0,>=1.1, but you have pandas 2.0.3 which is incompatible.
numba 0.57.0 requires numpy<1.25,>=1.21, but you have numpy 1.25.2 which is incompatible.
responses 0.13.3 requires urllib3>=1.25.10, but you have urllib3 1.24.3 which is incompatible.
tensorboard 2.11.2 requires google-auth<3,>=1.6.3, but you have google-auth 1.4.2 which is incompatible.
Successfully installed joblib-1.1.1 numpy-1.25.2 pandas-2.0.1 requests-2.29.0 requests-unixsocket-0.2.0 tradingcomdados-1.3.7

# Obtendo os dez fundos imobiliários com a maior participação no IFIX

In [2]:
# Importando os módulos
from tradingcomdados import alternative_data as ad
import pandas as pd
# Módulo pandas usado para análise e manipulação de dados

In [3]:
import warnings # Usado para suprimir avisos (warnings) no Python

# Ignora todos os warnings
warnings.filterwarnings("ignore")

In [5]:
# Obtendo a composição do IFIX
ad.index_composition('ifix')

    segment     cod         asset     type   part partAcum theoricalQty
0      None  CACR11  CARTESIA FII   CI  ER  0,370     None    5.043.279
1      None  BPFF11  FII ABSOLUTO   CI  ER  0,229     None    4.492.326
2      None  AFHI11  FII AFHI CRI       CI  0,366     None    5.249.560
3      None  AJFI11  FII AJ MALLS   CI  ER  0,201     None   31.625.978
4      None  ALZR11   FII ALIANZA       CI  1,045     None   13.360.405
..      ...     ...           ...      ...    ...      ...          ...
107    None  XPIN11   FII XP INDL       CI  0,392     None    7.150.422
108    None  XPLG11    FII XP LOG  CI  ERS  2,200     None   29.613.233
109    None  XPML11  FII XP MALLS       CI  4,381     None   54.043.680
110    None  XPPR11   FII XP PROP   CI  ER  0,098     None    7.316.171
111    None  XPSF11  FII XP SELEC   CI  ER  0,246     None   43.302.140

[112 rows x 7 columns]

## Nesse momento o IFIX é composto por 112 fundos imobiliários

In [6]:
# Atribuindo a composição do IFIX a uma variável chamada de ifix
ifix = ad.index_composition('ifix')

### Com base na composição dos fundos imobiliários que compõe o IFIX, vamos selecionar os dez com a maior participação na composição do índice.

### Para isso, vamos usar o sort_values para ordena-los de forma descendente, ou seja, que os valores maiores estejam em ordem da parte superior para a inferior.

### Usamos também o head(10) para filtrar apenas as dez primeiras linhas que consistem nos dez fundos com as maiores participações.

### 'part' usada em sort_values refere-se a coluna que contém o percentual de particiação do fundo no índice.

In [11]:
top10 = ifix.sort_values(by='part', ascending=False).head(10)
top10

    segment     cod         asset     type   part partAcum theoricalQty
52     None  KNIP11  FII KINEA IP   CI  ER  5,516     None   80.078.186
53     None  KNCR11  FII KINEA RI   CI  ER  5,007     None   67.010.836
109    None  XPML11  FII XP MALLS       CI  4,381     None   54.043.680
26     None  HGLG11  FII CSHG LOG   CI  ER  3,903     None   33.787.575
48     None  KNRI11     FII KINEA   CI  ER  3,409     None   29.891.967
20     None  BTLG11      FII BTLG       CI  3,106     None   43.249.151
61     None  MXRF11  FII MAXI REN   CI  ER  2,443     None  334.655.892
104    None  VISC11  FII VINCI SC   CI  ER  2,394     None   28.828.640
108    None  XPLG11    FII XP LOG  CI  ERS  2,200     None   29.613.233
87     None  TGAR11  FII TG ATIVO  CI  ERS  2,137     None   24.237.723

### Se adicionarmos ['part'] no mesmo comando que usamos acima, teremos a visualização do índice do dataframe e da coluna ['part'] referente aos valores do percentual de particiação do fundo no índice.

In [12]:
top10_ = ifix.sort_values(by='part', ascending=False)['part'].head(10)
top10_

52     5,516
53     5,007
109    4,381
26     3,903
48     3,409
20     3,106
61     2,443
104    2,394
108    2,200
87     2,137
Name: part, dtype: object

### Se quisermos incluir mais uma coluna nessa visualização é necessário ter esse cuidado com a sintaxe [['part', 'cod']], manter a identificação das colunas ['part', 'cod'] dentro de outros colchetes, resultado em: [['part', 'cod']]. Dessa forma teremos também a exibição da coluna 'cod' que contém o ticker do fundo.

In [13]:
top10_c = ifix.sort_values(by='part', ascending=False)[['part', 'cod']].head(10)
top10_c

      part     cod
52   5,516  KNIP11
53   5,007  KNCR11
109  4,381  XPML11
26   3,903  HGLG11
48   3,409  KNRI11
20   3,106  BTLG11
61   2,443  MXRF11
104  2,394  VISC11
108  2,200  XPLG11
87   2,137  TGAR11

## Obtendo as dez ações com a maior participação no IBOV

In [14]:
# Obtendo a composição do índice Bovespa (IBOV) 
ad.index_composition('ibov')

   segment    cod         asset        type   part partAcum   theoricalQty
0     None  RRRP3  3R PETROLEUM  ON      NM  0,313     None    238.441.689
1     None  ALOS3         ALLOS  ON      NM  0,569     None    532.616.595
2     None  ALPA4    ALPARGATAS  PN      N1  0,079     None    166.362.038
3     None  ABEV3     AMBEV S/A          ON  2,542     None  4.394.245.879
4     None  ARZZ3     AREZZO CO  ON      NM  0,157     None     62.305.891
..     ...    ...           ...         ...    ...      ...            ...
81    None  VAMO3         VAMOS  ON      NM  0,191     None    498.860.020
82    None  VBBR3         VIBRA  ON      NM  1,160     None  1.114.613.709
83    None  VIVA3   VIVARA S.A.  ON      NM  0,137     None    125.912.025
84    None  WEGE3           WEG  ON      NM  2,807     None  1.482.105.837
85    None  YDUQ3    YDUQS PART  ON      NM  0,165     None    289.347.914

[86 rows x 7 columns]

### Atualmente são 86 ações que compõe o índice IBOV

In [15]:
# Atribuindo a composição do IBOV a uma variável chamada de ibov
ibov = ad.index_composition('ibov')

In [16]:
# Seguindo o mesmo raciocínio anterior, 
# agora vamos visualizar o top 10 de ações no IBOV
top10_a = ibov.sort_values(by='part', ascending=False).head(10)
top10_a

   segment    cod         asset        type   part partAcum   theoricalQty
59    None  PETR4     PETROBRAS  PN      N2  8,440     None  4.566.445.852
46    None  ITUB4  ITAUUNIBANCO  PN  EJ  N1  7,460     None  4.740.126.023
58    None  PETR3     PETROBRAS  ON      N2  4,153     None  2.150.495.108
12    None  BBAS3        BRASIL  ON      NM  3,866     None  2.842.247.534
28    None  ELET3    ELETROBRAS  ON      N1  3,478     None  1.945.040.784
10    None  BBDC4      BRADESCO  PN  EJ  N1  3,328     None  5.135.772.281
7     None  B3SA3            B3  ON      NM  3,014     None  5.602.790.110
84    None  WEGE3           WEG  ON      NM  2,807     None  1.482.105.837
45    None  ITSA4        ITAUSA  PN  EJ  N1  2,699     None  5.560.910.983
3     None  ABEV3     AMBEV S/A          ON  2,542     None  4.394.245.879

### Podemos também obter os setores das empresas listadas na B3

In [17]:
ad.get_sectors()

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,NOME NO PREGÃO,CÓDIGO,SEGMENTO B3
0,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",3R PETROLEUM,RRRP,NM
1,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",COSAN,CSAN,NM
2,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",ENAUTA PART,ENAT,NM
3,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PET MANGUINH,RPMG,NaN
4,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PETROBRAS,PETR,N2
...,...,...,...,...,...,...
429,Outros,Outros,Outros,POLPAR,PPAR,NaN
430,Outros,Outros,Outros,PROMPT PART,PRPT,NaN
431,Outros,Outros,Outros,SUDESTE S/A,OPSE,NaN
432,Outros,Outros,Outros,SUL 116 PART,OPTS,NaN
433,Outros,Outros,Outros,YBYRA S/A,YBRA,NaN

### Podemos também analisar uma empresa em particular

In [18]:
ad.get_sectors('PETR')

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,NOME NO PREGÃO,CÓDIGO,SEGMENTO B3
4,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PETROBRAS,PETR,N2

### Também é possível descobrir quais empresas tempos por setor

In [19]:
setores = ad.get_sectors() # atribuimos os setores a uma variável

### Vamos selecionar quais empresas estão listadas na B3 que são do setor: "Petróleo, Gás e Biocombustíveis"

In [24]:
setor = setores.loc[setores['SUBSETOR'] == 
                            'Petróleo, Gás e Biocombustíveis']
setor
# Filtramos a coluna 'SUBSETOR' por 'Petróleo, Gás e Biocombustíveis' 
# usando o atributo 'loc'.

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,NOME NO PREGÃO,CÓDIGO,SEGMENTO B3
0,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",3R PETROLEUM,RRRP,NM
1,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",COSAN,CSAN,NM
2,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",ENAUTA PART,ENAT,NM
3,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PET MANGUINH,RPMG,NaN
4,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PETROBRAS,PETR,N2
5,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PETRORECSA,RECV,NM
6,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",PETRORIO,PRIO,NM
7,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",RAIZEN,RAIZ,N2
8,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",ULTRAPAR,UGPA,NM
9,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",VIBRA,VBBR,NM
10,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",Equipamentos e Serviços,LUPATECH,LUPA,NM
11,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",Equipamentos e Serviços,OCEANPACT,OPCT,NM
12,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis",Equipamentos e Serviços,OSX BRASIL,OSXB,NM

In [23]:
len(setor) # Len retorna o número de itens em um objeto

13

### Então temos 13 empresas desse setor listadas na B3